.feedbackList {
  display: flex;
  justify-content: center;
  align-items: center;
}

.feedbackItem:not(:last-child) {
  margin-right: 10px;
}

.feedbackItem {
  margin-top: 20px;
}

.feedbackBtn {
  padding: 20px, auto;
  width: 100px;
  height: 40px;

  background-color: #fbbd0d;
  color: #efece5;

  text-transform: uppercase;
  font-weight: 700;
  font-size: 16px;

  border: 0;
  border-radius: 10px;

  cursor: pointer;
}
